<!DOCTYPE html>
{% autoescape true %}
<html>
<head>

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/common.css" />

<!-- JS -->
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="row-fluid">
					<h2>Connex.us</h2>
				</div>
				<div class="row-fluid">
					<ul class="nav nav-pills">
						<li><a href="manageStream">Manage</a></li>
						<li class="active"><a href="#">Create</a></li>
						<li><a href="viewAllStream">View</a></li>
						<li><a href="searchStream">Search</a></li>
						<li><a href="trendingStream">Trending</a></li>
						<li><a href="socialStream">Social</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<form action="/create" method="post" role="form">
			<div class="col-md-12">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Name your stream</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<input type="text" class="form-control col-md-6 required" id="streamName" name="streamName" placeholder="Enter Stream Name" required="required">
									<!-- Note that Required does not work in Safari -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Tag your stream</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<textarea class="form-control col-md-6" id="tagStream" name="tagStream" placeholder="Tag your Stream"></textarea>
									<br/>
									<p class="help-block textStyle">#hello, #world (separated by commas)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Add Subscribers</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<textarea class="form-control col-md-6" id="subscribers" name="subscribers" placeholder="Add Subscribers Here"></textarea>
									<p class="help-block textStyle">hello@world.com, bye@world.com (Email Ids separated by commas)</p>
								</div>
								<div class="form-group">
									<textarea class="form-control col-md-6" id="inviteMsg" name="inviteMsg" placeholder="Optional Message for Invite"></textarea>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">URL To Cover Image (Can be empty)</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<input type="text" class="form-control col-md-6" id="coverImgUrl" name="coverImgUrl" placeholder="Enter Cover Image URL Here..">
									<p class="help-block textStyle">URL to a valid Image Location is required to display the Cover Image</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-info">Create Stream</button>
			</div>
		</form>
	</div>
</body>
</html>
{% endautoescape %}