<!DOCTYPE html>
<html>
<head>

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

<!-- JS -->
<script src="/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="row">
					<h2>Connex.us</h2>
				</div>
				<div class="row">
					<ul class="nav nav-pills">
						<li><a href="manageStream">Manage</a></li>
						<li><a href="createStream">Create</a></li>
						<li class="active"><a href="#">View</a></li>
						<li><a href="searchStream">Search</a></li>
						<li><a href="trendingStream">Trending</a></li>
						<li><a href="socialStream">Social</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading"></div>
						<div class="panel-body">
							More Pictures
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Add an Image</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<form>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="fileName">File Name</label>
											<input type="file" class="form-control col-md-6" id="inputFile" placeholder="Select desired file">
											<button type="submit" class="btn btn-default">Upload File</button>
										</div>
									</div>
								</form>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading"></div>
						<div class="panel-body">
							<p>
								You are logged in to Facebook<br>
								Post a link to this Stream on your status
							</p>
							<button type="submit" class="btn btn-default">Post to FB</button>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>